*{
	margin: 0 auto;
	padding: 0 auto;
}

.header{
	background-color:#280763; 
	height:150px; 
	text-align:center;
	color: #6be835;

}
.content{
	background-color:#4ede6a; 
	height:1100px; 
	text-align:center;
	color: green;
	margin: 0 auto;	
}
.content1{
	background-color:#5cbcd6; 
	height:1100px; 
	text-align:center;
	color: green;
	margin: 0 auto;	
}
.foter{
	background-color:#d91e1e; 
	height:2700px; 
	text-align:center;
	color: black;
	margin: 0 auto;
}
.menu{
	background-color: #320c75;
	color: red;

}
.foter1{
	background-color: #34a39a; 
	height:500px; 
	text-align:center;
	color: black;
	margin: 0 auto;
}
li{
	display: inline-block;
	padding:35px 100px;
}
li:hover{
	background-color: #9447ad;
	color:#66d128;
}